.price {
    padding: 5px 0;
    line-height: 26px;
    color: #999;
    vertical-align: top
}
.price em {
    color: #f40;
    font-size: 16px;
}

.price span {
    color: #f40;
    font-size: 22px;
    font-weight: bold;
}

.menu-classify{
    padding-bottom: 24px;
    overflow: hidden;
    zoom: 1;
    border-bottom: 1px solid #e5e5e5;
}

.button.small{
    background-color: #3498DB;
    border-right: 9px solid #2980B9;;
    border-bottom: 5px solid #2980B9;
    /*border-right: 9px solid #4D5654;*/
    /*border-bottom: 4px solid #4D5654;*/
}

.footer-hyperlinks{
    margin-bottom: 1rem; 
}


.breadcrumbs{
    height: 1.8rem; 
}
.breadcrumbs>li{
    font-size: 0.8rem; 
}
.menucuisine-hyperlink{
    border-bottom:0,none
}
#ds-reset .ds-avatar img {
    width: 54px !important;
    height: 54px !important;
    -webkit-border-radius: 27px !important;
    -moz-border-radius: 27px !important;
    border-radius: 27px !important;
    -webkit-transition: -webkit-transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
}
.ds-replybox form{
    padding-left: 25px !important;
}

#ds-wrapper{
    top: 5% !important;
}
.ds-control-group{
    margin: 0 0 0 0 !important;
};
/*#ds-reset .ds-avatar img:hover {*/
    /*-webkit-transform: rotateZ(360deg);*/
    /*-moz-transform: rotateZ(360deg);*/
    /*transform: rotateZ(360deg);*/
/*}*/
