.price {
    padding: 5px 0;
    line-height: 26px;
    color: #999;
    vertical-align: top
}
.price em {
    color: #f40;
    font-size: 16px;
}

.price span {
    color: #f40;
    font-size: 22px;
    font-weight: bold;
}

.menu-classify{
    padding-bottom: 24px;
    overflow: hidden;
    zoom: 1;
    border-bottom: 1px solid #e5e5e5;
}

.button.small{
    border-right: 9px solid #4D5654;
    border-bottom: 4px solid #4D5654;
}
